@font-face{
  font-family: "HelveticaNeue";
  src: url("./assets/helveticaneue.ttf");
}



body {
  margin: 0;
  font-family: "HelveticaNeue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: black;
  
  
}

.title-h1{
  font-size: 5em;
  margin-bottom: 0px;
  margin-top: 100px;
}

.subtitle-h3{
  font-style: oblique;
  padding: 0 50px;
}

.title-main-div{
  margin: auto;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.title-body-div{
  margin-bottom: 40px;
}

.today-body-div{
  width: 100%;
  background-color: white;
  margin-bottom: 100px;
  height: 300px;
  padding-top: 10px;
  padding-left: 20px;
}

.today-main-div{
  margin: auto;
  text-align: left;
}
.gamecard-main-div{
  width: 85%;
  height: auto;
  border-radius: 25px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
  outline:auto;
  outline-width: 30px;
  outline-color: #e5e5e5;
  font-size: 2.5em;
}
.logo-div{
  width:200px;
  display:flexbox;
  flex-direction: column;
}
.info-div{
  display: flexbox;
  flex-direction: column;
}
.name-div{
  display: flexbox;
  flex-direction: column;
}
.home-name-div{
  display: none;
}
.home-div{
  width: 150px;
  height: 125px;
  border-radius:25px;
  display: flex;
  justify-content: center;
  background-color: purple;
  margin-bottom: 15px;
}
.home-score-div{
  width: 150px;
  height: 125px;
  line-height: 125px;
  border-radius:25px;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;

}
.away-name-div{
  display: none;
}
.away-score-div{
  width: 150px;
  height: 125px;
  line-height: 125px;
  border-radius:25px;
  display: flex;
  justify-content: center;
  margin-bottom: 0px;

}
.away-div{
  width: 150px;
  height: 125px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  background-color: green;
}
.team-logo{
  width: 100px;
  object-fit: contain;
  margin: auto;
}

@media screen and (max-width: 374px) {
  .title-h1{
    font-size: 2.5em;
  } 
  .today-h1{
    font-size: 2.5em;
    text-align: center;
  }
  .today-body-div{
    padding: 0px;
  }

}
@media screen and (min-width: 750px) {
  .today-main-div{
    width: 750px;
  }
  .title-main-div{
    width: 750px;
  }
  .title-h1{
    font-size: 7.5em;
    text-align: left;
  }
  .subtitle-h3{
    font-size: 2em;
    text-align: right
  }
}

@media screen and (min-width: 560px){
  .home-name-div{
    width: 150px;
    height: 125px;
    line-height: 125px;
    border-radius:25px;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }
  .away-name-div{
    width: 150px;
    height: 125px;
    line-height: 125px;
    border-radius:25px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
  }
}
