@font-face{
  font-family: "HelveticaNeue";
  src: url("./assets/helveticaneue.ttf");
}



body {
  margin: 0;
  font-family: "HelveticaNeue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#DC4731;
  color: #FFF3D9;
  
  
}

.subtitle-h2{
  font-style: oblique;
}

.title-main-div{
  margin: auto;
  text-align: center;
  width: 100%;
}